<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="./css/animate.css">
	<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
	<link rel="stylesheet" href="./css/keyframes.css">
	<link rel="stylesheet" href="./css/kurslar.css">
	<link rel="shortcut icon" type="image/x-icon" href="./images/logo-head.svg" />
	<title>kingbook</title>
</head>

<body>

	<header>
		<nav class="nav">
			<div class="logo">
				<div class="logo__img"><a href="./"><img src="./images/logo.svg" alt="logo"></a></div>
				<div class="logo-cont">
					<a href="./">Audio darsliklar</a>
					<a href="#kurslar">Video darsliklar</a>
				</div>
			</div>
			<div class="logo-texts">
				<p class="logo-text"><a href="#Afzalligi">Afzalliklar</a></p>
				<p class="logo-text"><a href="#kurslar">Kurslar</a></p>
				<p class="logo-text"><a href="./indexMap">Bog‘lanish</a></p>
				<p class="logo-text tell"><a href="tel:+712000109">71 200 01 09</a></p>
			</div>
		</nav>
		<div class="accordion-burger">
			<div class="card-burger">
				<div id="flip" class="flip" onclick="myFunction(this)">
					<div class="bar1"></div>
					<div class="bar2"></div>
					<div class="bar3"></div>
				</div>
				<div id="panel" class="card-body">
					<div class="logo-cont-in-bur">
						<a href="./">Audio darsliklar</a>
						<a href="#video">Video darsliklar</a>
					</div>
					<p class=" logo-text"><a href="#Afzalligi">Afzalligi</a></p>
					<p class=" logo-text"><a href="#Kurslar">Kurslar</a></p>
					<p class="logo-text"><a href="./indexMap">Bog‘lanish</a></p>
					<p class="logo-text"><a href="tel:+991889090">71 200 01 09</a></p>
				</div>
			</div>
		</div>
	</header>
	<section class="slider">
		<div class=" slider-section swiper-container">
			<div class=" slider-block swiper-wrapper wow fadeIn" data-wow-delay="0.1s" data-wow-duration="2s">
				<div class=" slider-big-box swiper-slide">
					<div class="slider-box">
						<div class="elements">
							<div class="element-cont">
								<div class="title-block">
									<p class="element-title-two">Zamonaviy kasblarni o’rganing!</p>
									<p class="element-subtitle">"Videolesson" Darsliklari </p>
									<div class="button-input" onclick="">
										<button id="ModalBtn" class="button modal-button" data-target="myModal">Buyurtma </button>
									</div>
								</div>
							</div>
							<div class="slider-element-texts">
								<div class="img-slider"><img src="./images/slider-1.png" alt=""></div>
							</div>
						</div>
					</div>
				</div>

				<div class="slider-big-box swiper-slide">
					<div class="slider-box">
						<div class="elements">
							<div class="element-cont">
								<div class="title-block">
									<p class="element-title">Zamonaviy kasblarni o’rganing!</p>
									<p class="element-subtitle">"Videolesson" Darsliklari</p>
									<div class="button-input" onclick="">
										<button id="ModalBtn" class="button modal-button" data-target="myModal">Buyurtma </button>
									</div>
								</div>
							</div>
							<div class="slider-element-texts">

								<div class="img-slider">
									<img src="./images/slider-2.png" alt="">
								</div>
							</div>

						</div>
					</div>
				</div>

				<div class="slider-big-box swiper-slide">
					<div class="slider-box">
						<div class="elements">
							<div class="element-cont">
								<div class="title-block">
									<p class="element-title">Zamonaviy kasblarni o’rganing!</p>
									<p class="element-subtitle">"Videolesson" Darsliklari</p>
									<div class="button-input" onclick="">
										<button id="ModalBtn" class="button modal-button" data-target="myModal">Buyurtma </button>
									</div>
								</div>
							</div>
							<div class="slider-element-texts">
								<div class="img-slider">
									<img src="./images/slider-1.png" alt="">
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>

		</div>
		<div class="swiper-button-next button-next"></div>
		<div class="swiper-button-prev "></div>
		<div class="pagination-center">
			<div class="swiper-pagination"></div>
			<div>
				<div class="swiper-button-next"></div>
				<div class="swiper-button-prev"></div>
			</div>
		</div>
	</section>
	<section class="card">
		<div class="card-container">
			<div class="card-row">
				<div class="card-box-1">
					<p class="card-text">Qulay va
						<span class="br-box">zamonaviy </span>
					</p>

				</div>
				<div class="card-box-2">
					<p class="card-text">Ko’plab
						<span class="br-box">imkoniyatlar</span>
					</p>

				</div>
				<div class="card-box-3">
					<p class="card-text">Ishonchli
						<span class="br-box"> hamkoringiz</span>
					</p>

				</div>
				<div class="card-box-4">
					<p class="card-text">Bepul yetkazib

						<span class="br-box"> beramiz!</span>
					</p>

				</div>
			</div>
		</div>
	</section>
	<section id="Afzalligi" class="middle">
		<h2 class="section-middle-title">Kursimiz avfzaliklari</h2>
		<div class="middle-card-cont">
			<div class="middle-card-row">
				<div class="middle-card-box">
					<div class="middle-card-img">
						<img src="./images/midle-1.png" alt="">
					</div>
					<h5 class="middle-text-title">O‘zbek tilida</h5>
					<p class="middle-text-subtitle">Video kursimiz o‘zbek tilida bo‘lganligi uchun o’rganishga juda ham
						qulay.</p>

				</div>
				<div class="middle-card-box">
					<div class="middle-card-img">
						<img src="./images/midle-2.png" alt="">
					</div>
					<h5 class="middle-text-title">Vaqtingizni tejang</h5>
					<p class="middle-text-subtitle">Kurslarni video darslik yordamida o’rganib, vaqtingizni ancha tezashingiz
						mumkin.</p>
				</div>
				<div class="middle-card-box">
					<div class="middle-card-img">
						<img src="./images/midle-3.png" alt="">
					</div>
					<h5 class="middle-text-title">Dasturlarni qidirmaysiz</h5>
					<p class="middle-text-subtitle">Kerakli bo’lgan dasturlar va o’quv materillari tayyor, qidiruvga hojat
						yo`q.</p>
				</div>
				<div class="middle-card-box">
					<div class="middle-card-img">
						<img src="./images/midle-4.png" alt="">
					</div>
					<h5 class="middle-text-title">Texnik yordam</h5>
					<p class="middle-text-subtitle">Qo`llab quvvatlov markazimiz siz uchun doim tayyor.</p>
				</div>
				<div class="middle-card-box">
					<div class="middle-card-img">
						<img src="./images/midle-5.png" alt="">
					</div>
					<h5 class="middle-text-title">Zamonaviy kasblar</h5>
					<p class="middle-text-subtitle">Bizdagi darsliklar yordamida zamonaviy kasblarni o’rganib yaxshi kasbli
						bo`la olasiz.</p>
				</div>
				<div class="middle-card-box">
					<div class="middle-card-img">
						<img src="./images/midle-6.png" alt="">
					</div>
					<h5 class="middle-text-title">Tanlovda adashmang!</h5>
					<p class="middle-text-subtitle">Kurslarimizni o'rganib zamonaviy kasb egasi bo'ling</p>
				</div>

			</div>
		</div>
	</section>
	<section class="last" id="kurslar">
		<h2 class="section-last-title">Kurslarimiz ro‘yxati</h2>
		<div class="last-card-cont">
			<div class="last-card-row">
				<div class="last-card-row-inner">
					<div class="last-card-box">
						<div class="last-card-img">
							<img src="./images/Rectangle-1.jpg" alt="3D max ">
						</div>
						<div class="last-box-inner">
							<h5 class="last-text-title">3d max

								<span class="br"> dizayn kursi </span>
							</h5>
							<p class="last-text-subtitle">O‘zingizning 3D modellaringizni yasang!
							</p>
							<div class="button-input" onclick="">
								<button id="ModalBtn" class="button modal-button" data-target="myModal">Sotib olish</button>
							</div>
						</div>

					</div>
					<div class="last-card-box">
						<div class="last-card-img">
							<img src="./images/Rectangle-2.jpg" alt="ws word">
						</div>
						<div class="last-box-inner">
							<h5 class="last-text-title">MS Word

								<span class="br"> kursi </span>
							</h5>
							<p class="last-text-subtitle">Hujjatlarni elektron holatda yuriting, zamonaviy hodim bo'ling</p>
							<div class="button-input" onclick="">
								<button id="ModalBtn" class="button modal-button" data-target="myModal">Sotib olish</button>
							</div>
						</div>
					</div>
					<div class="last-card-box">
						<div class="last-card-img">
							<img src="./images/Rectangle-3.jpg" alt="HTML va CSS">
						</div>
						<div class="last-box-inner">
							<h5 class="last-text-title">HTML va CSS
								<span class="br"> dasturlash kursi </span>
							</h5>
							<p class="last-text-subtitle">Dasturlashni boshlamoqchi bo'lganlar uchun eng zo'r tanlov</p>
							<div class="button-input" onclick="">
								<button id="ModalBtn" class="button modal-button" data-target="myModal">Sotib olish</button>
							</div>
						</div>
					</div>
					<div class="last-card-box">
						<div class="last-card-img">
							<img src="./images/Rectangle-10.jpg" alt="Telegram kanal kursi">
						</div>
						<div class="last-box-inner">
							<h5 class="last-text-title">Telegram biznes

								<span class="br"> kursi </span>
							</h5>
							<p class="last-text-subtitle">Telegram kanallarni yurg'azish va daromad topish darslari</p>
							<div class="button-input" onclick="">
								<button id="ModalBtn" class="button modal-button" data-target="myModal">Sotib olish</button>
							</div>
						</div>
					</div>
				</div>
				<div class="last-card-row-inner">
					<div class="last-card-box">
						<div class="last-card-img">
							<img src="./images/Rectangle-4.jpg" alt="Photoshop">
						</div>
						<div class="last-box-inner">
							<h5 class="last-text-title">Photoshop
								<span class="br"> kursi </span>
							</h5>
							<p class="last-text-subtitle">Dizayner bo'lishni istaganlar uchun eng zarur video darslik!
							</p>
							<div class="button-input" onclick="">
								<button id="ModalBtn" class="button modal-button" data-target="myModal">Sotib olish</button>
							</div>
						</div>

					</div>
					<div class="last-card-box">
						<div class="last-card-img">
							<img src="./images/Rectangle-5.jpg" alt="Power Point">
						</div>
						<div class="last-box-inner">
							<h5 class="last-text-title">Power Point


								<span class="br"> kursi </span>
							</h5>
							<p class="last-text-subtitle">Xodimlar uchun zarur bo'lgan prezintatsiyalar tayyorlashni o'rganing
							</p>
							<div class="button-input" onclick="">
								<button id="ModalBtn" class="button modal-button" data-target="myModal">Sotib olish</button>
							</div>
						</div>
					</div>
					<div class="last-card-box">
						<div class="last-card-img">
							<img src="./images/Rectangle-6.jpg" alt="Telegram bot">
						</div>
						<div class="last-box-inner">
							<h5 class="last-text-title">Telegram bot


								<span class="br"> yaratish kursi </span>
							</h5>

							<p class="last-text-subtitle">Hozirda tobora ommalashib borayotgan Telegram bot yaratishni
								o'rganing</p>
							<div class="button-input" onclick="">
								<button id="ModalBtn" class="button modal-button" data-target="myModal">Sotib olish</button>
							</div>
						</div>
					</div>
					<div class="last-card-box">
						<div class="last-card-img">
							<img src="./images/Rectangle-11.jpg" alt="Bem metodi 
							kursi ">
						</div>
						<div class="last-box-inner">
							<h5 class="last-text-title">Bem metodi

								<span class="br"> kursi </span>
							</h5>

							<p class="last-text-subtitle">Ushbu metodika yordamida HTML/CSS dagi loyihalaringizni yana ham
								mukammal yoza olasiz</p>
							<div class="button-input" onclick="">
								<button id="ModalBtn" class="button modal-button" data-target="myModal">Sotib olish</button>
							</div>
						</div>
					</div>
				</div>

				<div class="last-card-row-inner flex-display">
					<div class="last-card-box">
						<div class="last-card-img">
							<img src="./images/Rectangle-7.jpg" alt="Corel Draw">
						</div>
						<div class="last-box-inner">
							<h5 class="last-text-title">
								Corel Draw
								<span class="br">kursi </span>
							</h5>
							<p class="last-text-subtitle">Dizayner bo'lishni xohlovchilar uchun eng muhim darsliklardan biri.
							</p>
							<div class="button-input" onclick="">
								<button id="ModalBtn" class="button modal-button" data-target="myModal">Sotib olish</button>
							</div>
						</div>

					</div>
					<div class="last-card-box">
						<div class="last-card-img">
							<img src="./images/Rectangle-8.jpg" alt="Excel kursi">
						</div>
						<div class="last-box-inner">
							<h5 class="last-text-title">MS Excel
								<span class="br"> kursi </span>
							</h5>
							<p class="last-text-subtitle">Har bir tashkilot xodimi uchun zarur bo'lgan darslik</p>
							<div class="button-input" onclick="">
								<button id="ModalBtn" class="button modal-button" data-target="myModal">Sotib olish</button>
							</div>
						</div>
					</div>
					<div class="last-card-box">
						<div class="last-card-img">
							<img src="./images/Rectangle-9.jpg" alt="Bugalteriya kursi">
						</div>
						<div class="last-box-inner">
							<h5 class="last-text-title">1C Bugalteriya
								<span class="br"> kursi </span>
							</h5>
							<p class="last-text-subtitle">Har bir buxgalter bilishi zarur bo'lgan "1C" dasturini o'rganing</p>
							<div class="button-input" onclick="">
								<button id="ModalBtn" class="button modal-button" data-target="myModal">Sotib olish</button>
							</div>
						</div>
					</div>
					<div class="last-card-box">
						<div class="last-card-img">
							<img src="./images/Rectangle-12.jpg" alt="PHP dasturlash
							kursi ">
						</div>
						<div class="last-box-inner">
							<h5 class="last-text-title">PHP dasturlash
								<span class="br"> kursi </span>
							</h5>
							<p class="last-text-subtitle">Ommabop, talab yuqori bo'lgan PHP dasturlash tilini o'rganing</p>
							<div class="button-input" onclick="">
								<button id="ModalBtn" class="button modal-button" data-target="myModal">Sotib olish</button>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
		<div onclick="">
			<a href="#barchasi"><button class="button-last"> Barchasini ko‘rish</button></a>
		</div>
	</section>

	<!-- modal-card~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~` -->
	<section class="section">


		<div id="myModal" class="modal">
			<div class="modal-card-body">
				<div class="modal-row">
					<div class="close-btn"><button class="modal-button-close"></button></div>
					<div class="manage-schedule-tab-content">
						<h2 class="input-title">Buyurtma bering</h2>
						<form class="form" method="post" action="/">
							<input style="height: 0.1px; border-color: #fff;" name="tabs" style="visibility: hidden;"
									id="rustam" value="0" />
							<div class="field">
								<label class="label">Kerakli kursni tanlang</label>
								<select class="list-input" id="name">

									<option value="3d">3d max
										dizayn kursi</option>
									<option value="Word">MS Word
										kursi</option>
									<option value="dasturlash">HTML va CSS
										dasturlash kursi</option>
									<option value="Photoshop">Photoshop
										kursi</option>
									<option value="Point">
										Power Point
										kursi
									</option>
									<option value="bot">
										Telegram bot
										yaratish kursi</option>
									<option value="Corel">Corel Draw
										kursi</option>
									<option value="Excel">MS Excel
										kursi</option>
									<option value="Bugalteriya">1C Buxgalteriya
										kursi</option>
									<option value="kanal">Telegram kanal
										kurs </option>
									<option value="bem">Bem metodi
										kursi </option>
									<option value="php">PHP dasturlash
										kursi </option>
								</select>
							</div>
							<div class="field">
								<label class="labels">Ismingiz</label>
								<input type="text" class="input" name="title" placeholder="Ismingiz" required>
							</div>
							<div class="field">
								<label class="labels">Telefon raqam</label>
								<input type="number" name="content" class="input" placeholder="+998" required>
							</div>
						</form>
						<button type="submit" class="button-modal" id="formButton2">Buyurtma berish</button>

					</div>
					<div class="modal-photo-cont">
						<div class="content">
							<div id="3d" class="data">
								<div class="imgBox"><img src="./images/Rectangle-1.jpg" alt="3d max
									dizayn kursi"></div>
							</div>
							<div id="Word" class="data">
								<div class="imgBox"><img src="./images/Rectangle-2.jpg" alt="MS Word
									kursi"></div>
							</div>
							<div id="dasturlash" class="data">
								<div class="imgBox"><img src="./images/Rectangle-3.jpg" alt="HTML va CSS
									dasturlash kursi"></div>
							</div>
							<div id="Photoshop" class="data">
								<div class="imgBox"><img src="./images/Rectangle-1-input.png" alt="Photoshop
									kursi"></div>
							</div>
							<div id="Point" class="data">
								<div class="imgBox"><img src="./images/Rectangle-5.jpg" alt="Power Point
									kursi"></div>
							</div>
							<div id="bot" class="data">
								<div class="imgBox"><img src="./images/Rectangle-6.jpg" alt="Telegram bot
									yaratish kurs"></div>
							</div>
							<div id="Corel" class="data">
								<div class="imgBox"><img src="./images/Rectangle-7.jpg" alt="Corel Draw
									kursi"></div>
							</div>
							<div id="Excel" class="data">
								<div class="imgBox"><img src="./images/Rectangle-8.jpg" alt="MS Excel
									kursi"></div>
							</div>
							<div id="Bugalteriya" class="data">
								<div class="imgBox"><img src="./images/Rectangle-9.jpg" alt="1C Bugalteriya
									kursi"></div>
							</div>
							<div id="kanal" class="data">
								<div class="imgBox"><img src="./images/Rectangle-10.jpg" alt="1C Bugalteriya
									kursi"></div>
							</div>
							<div id="bem" class="data">
								<div class="imgBox"><img src="./images/Rectangle-11.jpg" alt="1C Bugalteriya
									kursi"></div>
							</div>
							<div id="php" class="data">
								<div class="imgBox"><img src="./images/Rectangle-12.jpg" alt="1C Bugalteriya
									kursi"></div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</section>
	<!-- modal-end~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

	<div id="barchasi" class="sale">
		<h2 class="section-last-title red">Kurslar narxi 30% <span class="br"> gacha chegirma</span> </h2>
		<div class="sale-row">
			<div class="sale-box">

				<div>
					<div class="sale-img-cont">
						<div class="sale-img"> <img src="./images/coin1.svg" alt="Coin"></div>
						<h5 class="img-text">Business</h5>
					</div>
					<p class="sale-type"><span class="dot"></span>Ms Word</p>
					<p class="sale-type"><span class="dot"></span>Ms Excel</p>
					<p class="sale-type"><span class="dot"></span>Ms Power Point</p>
					<p class="sale-type"><span class="dot"></span>Telegram biznes</p>
					<p class="sale-type"><span class="dot"></span>Telegram bot</p>
				</div>

				<div class="sale-price">
					<p class="sale-price-text">Ha bir kurslarimiz</p>
					<p class="prise-line-through">350,000 </p>
					<p class="price">245,000 <span class="sum">so‘m </span></p>
					<div class="button-input" onclick="">
						<div class="wave-btn">
							<button id="ModalBtn" class="button modal-button" data-target="myModal">Sotib olish</button>
						</div>
					</div>
				</div>
			</div>
			<div class="sale-box">

				<div>
					<div class="sale-img-cont">
						<div class="sale-img"> <img src="./images/coin2.svg" alt="Coin"></div>
						<h5 class="img-text">Personal</h5>
					</div>
					<p class="sale-type"><span class="dot"></span>Bem metodi</p>
					<p class="sale-type"><span class="dot"></span>Corel Draw</p>
					<p class="sale-type"><span class="dot"></span>PHP dasturlash</p>
				</div>

				<div class="sale-price">
					<p class="sale-price-text">Har bir kurslarimiz</p>
					<p class="prise-line-through">560 000</p>
					<p class="price">390 000 <span class="sum">so‘m </span></p>
					<div class="button-input" onclick="">
						<div class="wave-btn">
							<button id="ModalBtn" class="button modal-button" data-target="myModal">Sotib olish</button>
						</div>
					</div>
				</div>
			</div>
			<div class="sale-box">

				<div>
					<div class="sale-img-cont">
						<div class="sale-img"> <img src="./images/coin3.svg" alt="Coin"></div>
						<h5 class="img-text">Professional</h5>
					</div>

					<p class="sale-type"><span class="dot"></span>1C buxgalteriya</p>
					<p class="sale-type"><span class="dot"></span>HTML/CSS dasturlash</p>
					<p class="sale-type"><span class="dot"></span>3d MAX</p>
					<p class="sale-type"><span class="dot"></span>Adobe Photoshop</p>
				</div>
				<div class="sale-price">
					<p class="sale-price-text">Har bir kurslarimiz</p>
					<p class="prise-line-through"> 850 000 </p>
					<p class="price">595 000 <span class="sum">so‘m </span></p>
					<div class="button-input" onclick="">
						<div class="wave-btn">
							<button id="ModalBtn" class="button modal-button" data-target="myModal">Sotib olish</button>
						</div>
					</div>
				</div>
			</div>

			<div class="sale-box">

				<div>
					<div class="sale-img-cont">
						<div class="sale-img"> <img src="./images/coin4.svg" alt="Diamond"></div>
						<h5 class="img-text">Diamond</h5>
					</div>
					<p class="sale-type-text">Barcha kurslarimizni bir vaqtda sotib oling va 40% li chegirmaga ega bo'ling!
					</p>

				</div>
				<div class="sale-price">
					<p class="sale-price-text">Har bir kurslarimiz</p>
					<p class="prise-line-through">6 400,000 </p>
					<p class="price">3 840,000 <span class="sum">so‘m </span></p>
					<div class="button-input" onclick="">
						<div class="wave-btn">
							<button id="ModalBtn" class="button modal-button" data-target="myModal">Sotib olish</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<section class="feedback">
		<h2 class="feedback-title">Bog‘lanish</h2>
		<div class="feedback-row">
			<div class="location-block">

				<div class="location-innter-block">
					<div class="feedback-info">
						<p class="description">
							Ofis manzili
						</p>
						<h5 class="info"><a href="https://goo.gl/maps/MfvJfiyorF4tWSkx7" target="_blank"> Olmazor tuman,
								Langar <span class="br"> ko`chasi
									76-uy
								</span></a>
						</h5>
					</div>
					<div class="feedback-info">
						<p class="description">
							Email </p>
						<h5 class="info"><a href="mailto:kingbookuz@gmail.com" target="_blank">kingbookuz@gmail.com</a>
							</span></h5>
					</div>

				</div>

				<div class="location-innter-block">
					<div class="feedback-info">
						<p class="description text-right">
							Ish vaqti: </p>
						<h5 class="info text-right">dushanba — yakshanba
							<span class="br">08:00—21:00</span>
						</h5>
					</div>


					<div class="feedback-info">
						<p class="description text-right">
							Bog'lanish </p>
						<h5 class="info text-right"><a href="tel:+998712000109">998 71 200 01 09</a></h5>
					</div>
				</div>




			</div>
			<div class="map-block">
				<iframe
					src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2996.1087661586403!2d69.225033415209!3d41.32824817926967!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38ae8b8f77b4c033%3A0xbee79721eacbdef9!2zNzYg0JvRj9C90LPQsNGAINGD0LvQuNGG0LAsINCi0LDRiNC60LXQvdGCLCDQo9C30LHQtdC60LjRgdGC0LDQvQ!5e0!3m2!1sru!2s!4v1616693926461!5m2!1sru!2s"
					style="border:0;" allowfullscreen="" loading="lazy"></iframe>
			</div>
		</div>

	</section>

	<section class="footer-background">
		<div class="footer-container">
			<div class="footer-row">
				<div class="footer-icons-block wow fadeInRight" data-wow-delay="0.1s" data-wow-duration="1.5s">
					<p class="icon-text">Bizni kuzating <img src="./images/slime.svg" alt="smile"> <img
							src="./images/smile1.svg" alt="slime">
					</p>
					<div class="nav-wrapper">
						<div class="items-footer">
							<a href="https://t.me/kingbookuz" class="hover-this" target="_blank"><span class="item-footer"><img
										src="./images/tg.svg" alt="Telegram"></span></a>
							<a href="https://www.facebook.com/Kingbookuz-105267231613819" class="hover-this"
								target="_blank"><span class="item-footer"><img src="./images/fc.svg" alt="Facebook"></span></a>
							<a href="https://www.instagram.com/kingbook.uz/" class="hover-this" target="_blank"><span
									class="item-footer"><img src="./images/inst.svg" alt="Instagram"></span></a>
							<div class="cursor"></div>
						</div>
					</div>

				</div>
				<div class="desing-by wow fadeInLeft" data-wow-delay="0.1s" data-wow-duration="1.5s">
					<p class="less-in-more">
						<a href="https://t.me/lessismore_20">Less is more</a>
					</p>
					<p class="made-by"> <a href="https://t.me/lessismore_20"> Design & development</a>
					</p>
				</div>
			</div>
		</div>
	</section>



	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
	<script src="./js/javaScript.js"></script>
	<script src="./js/wow.js"> </script>
	<script>
		// new WOW().init();
		const formButton2 = document.getElementById("formButton2");

		formButton2.addEventListener("click", (e) => {
			alert('Haridingiz uchun raxmat!')
		});
	</script>
</body>

</html>