<div style="height: 100%; background-color: #ffff; display: flex; align-items: center; flex-direction: column;">
	<h1
		style="font-size: 50px; max-width: 600px; color:#2128bd; font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;	">
		Login</h1>
	<form action="/admin" method="POST" style="padding: 30px; max-width: 600px;box-shadow: 0px 5px 10px rgb(179, 179, 180);
	 border-radius: 5px; ">
		<div>
			<label for="email"
				style="font-family:Arial, Helvetica, sans-serif; margin-left: 10px; letter-spacing: 1px; ">Email</label>
			<br>
			<input type="email" id="email" name="email" required style="font-family:'Trebuchet MS', 'Lucida Sans Unicode',
			 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;background: rgba(33, 40, 189, 0.04);
			  border: none; border-radius: 3px; width: 100%; margin: 5px 0 30px;padding: 14px 10px;
			  border: 1px solid #e9e9f8;
			    font-size: 20px; color: rgb(84, 68, 98); letter-spacing: 1px;" />
		</div>
		<div>
			<label for="password"
				style=" font-family:Arial, Helvetica, sans-serif; margin-left: 10px;letter-spacing: 1px;">Password</label><br>
			<input type="password" id="password" name="password" required style="border: none; border-radius: 3px; width: 100%; margin: 5px 0 50px; padding: 5px 10px;
							background: rgba(33, 40, 189, 0.04);
							border: 1px solid #e9e9f8;  font-size: 35px; color: rgb(84, 68, 98); letter-spacing: 1.5px; " />
		</div>
		<button type="submit"
			style="border: none; border-radius: 3px; width: 100%;font-size: 20px;
		 padding: 10px 0; font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
		 font-weight: 600; margin: 20px 0 0px 0;color:#ffffff;  background-color: #2128bd; letter-spacing: 2px;">Login</button>
	</form>
</div>